*{ font-family: 'Open Sans', Verdana;}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: rgb(57, 161, 225);
    display: flex;
    justify-content: center;
    align-items: center;
}

 h1{
    text-transform: uppercase;
    color: rgb(57, 161, 225) ;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: auto;
}


.login{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: center;
    background-color: white;;
    border: 5px solid white;
    border-radius: 1em;
    width: 50em;
    text-align: center;
    text-transform: uppercase;
    color: rgb(57, 161, 225) ;
    padding: 1em;
}


.google{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content:center;
    border-style: solid;
    border-radius: 1em;
    margin: auto;
    padding: 0.5em;
    border-color: black;
}

.google:hover{
    color: white;
    background-color:  rgb(57, 161, 225);
    font-weight: bold;
}

a{
    display: inline;
    text-transform: uppercase;
    color: black;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none ;
}

img{
   margin: auto; 
   background-color: white;
   border-radius: 50%;
}


p{
    padding-left: 0.3em;
}