<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>SYP</title>
    <link rel="stylesheet" type="text/css" href="navStile.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <header> 
      <div class="nav">
  <input type="checkbox">
    <span></span>
    <span></span>
    <div class="menu">
      <li><a href="#">home</a></li>
      <li><a href="/explore">explore</a></li>
      <li><a href="/visited">visited</a></li>
      <li><a href="/achievements">achievements</a></li>
    </div>
    <p data-item='SYP'>SYP</p>
</div>
</header>

<br>

<main>
  <div><h2><%=welcome%></h2></div>
  <div class="form">
  <form action="" method="post" id="place">
    <h1>SAVE YOUR PLACE</h1>
      <div class="campi">
        <label for="luogo"><strong>PLACE/ADDRESS</strong></label>
        <input type="text" placeholder="Insert place name or address" name="address" required>
        <label for="citta"><strong>CITY</strong></label>
        <input type="text" placeholder="Insert city name" name="city" required>
      </div>
      <button type="submit">SAVE</button>
      </div>
  </form>

</main>
  <footer><h2><%=message%></h2></footer>
  </body>
</html>
