<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>LOGIN SYP</title>
    <link rel="stylesheet" type="text/css" href="login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
    
<body> 
    <header>
    </header>
    
    <main>
        <div class="login">
        <h1>SAVE YOUR PLACE</h1>
          <a href="/auth/google">
            <div class="google">
            <img width="40px" height="40px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
          <p>sign-in with google</p>  
          </div>
          </a>
        
        </div>
    </main>
    
    <footer></footer>
</body>
