<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>LOGIN SYP</title>
    <link rel="stylesheet" type="text/css" href="login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
    
<body> 
    <header>
    </header>
    
    <main>
        <div class="login">
        <h1>SAVE YOUR PLACE</h1>
        <button><h2>Click on the icon to authenticate with Google</h2><a href="/auth/google"><img width="40px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" /></a></button>
        </div>
    </main>
    
    <footer></footer>
</body>
